@media (max-width: 1442px) {
	
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .content h3{
		font-size: 30px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .content{
		margin-bottom: 20%!important;
	}

	section.homes_top_cont_1 .inners_block .banners{
		img{
			max-width: 475px;
		}
	}

	section.homes_top_cont_1 .inners_block .banners{
		bottom: -35px;
	}

}

@media (max-width: 1280px) {

	section.home_sec_2 .blockns_slide_prd ul li a{
		font-size: 28px;
	}

	section.home_sec_1{
		min-height: inherit;
	}
	section.home_sec_1 .contents h2,
	section.home_sec_1 .contents h3{
		font-size: 30px;
	}

	section.home_sec_3 .contents p, 
	section.home_sec_4 .contents p, 
	section.home_sec_5 .contents p,

	section.home_sec_1 .contents p{
		font-size: 17px;
	}

	section.home_sec_3 .contents h4{
		font-size: 20px;
	}

	section.home_sec_3, 
	section.home_sec_4, 
	section.home_sec_5{
		min-height: inherit;
	}
	section.home_sec_3{
		padding-bottom: 3rem;
	}
	section.home_sec_4{
		padding: 4.5rem 0;
	}
	section.home_sec_5 .contents h2{
		font-size: 28px;
	}

	footer.foot .tops_nfooter .menus_foot ul li a{
		font-size: 13px;
	}
	footer.foot .bottoms_ftsn p{
		font-size: 12px;
	}
	
}

@media (max-width: 1026px) {
	
	section.home_sec_3{
		background: none;
		background-color: #fff;
		clear: both;
	}

	section.home_sec_5{
		padding-top: 10rem;
		padding-bottom: 8rem;
	}
	section.home_sec_5 .contents h2 {
	    font-size: 26px;
	}

}

@media (max-width: 982px) {

	section.homes_top_cont_1 .inners_block .banners img{
		max-width: 100%;
	}
	section.homes_top_cont_1 .inners_block .banners{
		position: relative;
		left: inherit;
		bottom: inherit;
	}
	section.home_sec_2 .blockns_slide_prd ul li a {
	    font-size: 25px;
	}

	section.home_sec_1 .contents p, 
	section.home_sec_3 .contents p, 
	section.home_sec_4 .contents p, 
	section.home_sec_5 .contents p{
		font-size: 16px;
	}
	
}

@media (max-width: 767px) {
	
	section.homes_top_cont_1{
		padding: 2.8rem 0;
	}
	.live-chat .live img {
	    max-width: 130px !important;
	}

	section.home_sec_1 .contents h2 br,
	section.home_sec_1 .contents h3 br{
		display: none;
	}

	section.home_sec_2{
		background: none;
		background-color: #f5f5f5;
	}

	section.home_sec_4 .lists_bloc_compsn .items .info h6{
		font-size: 13px;
	}
	section.home_sec_2 .blockns_slide_prd ul li a {
	    font-size: 23px;
	}

	footer.foot .bottoms_ftsn p a,
	footer.foot .bottoms_ftsn p {
	    font-size: 11px !important;
	}
	footer.foot .bottoms_ftsn .text-right{
		text-align: left !important;
	}

	footer.foot .tops_nfooter .menus_foot ul li a {
	    font-size: 10px;
	}

	footer.foot .wans-foot{
		margin-top: 1rem;
	}
	footer.foot .tops_nfooter .wans-foot,
	footer.foot .tops_nfooter .wans-foot a{
		font-size: 14px;
	}
	footer.foot{
		padding-bottom: 1.2rem;
	}

	.outers_fold_cover_top{
		min-height: 335px;
	}

	section.about_sec_1, section.about_sec_2, section.contact_sec_1, section.products_sec_1{
		padding: 4rem 0 4.5rem;
	}
	section.about_sec_2{
		min-height: 500px;
		background: none;
		background-color: #fff;
	}
	section.about_sec_3{
		display: none;
	}

	.outers_list_products_nmortar .items .infos h4{
		font-size: 16px !important;
	}
	.outers_list_products_nmortar .items .infos{
		padding-top: 1rem !important;
	}
	.float-right{
		float: none !important;
	}

	section.prddet_sec_1{
		height: auto;
	}

	.picts_banner_rgh.bigs_det{
		img{
			max-width: 60%;
		}
	}

	section.contact_sec_1 .contents .rights_info .blocs_wa,
	section.contact_sec_1 .contents .rights_info .blocs_wa a{
		font-size: 19px;
		i.fa{
			font-size: 20px;
		}
	}

}

@media (max-width: 500px) {
	
}





@media screen and (min-width: 450px) {
  header.head .menu-block-bottom ul li {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  header.head{
    display: none;
  }
   header.header-mobile{
     display: block;
     .fixed-top{
      background-color: #0c1a22;
      min-height: 70px; height: auto;
     }

     img{
       height: 45px;
     }
   }
  header.head .menu-block-bottom ul li a {
    font-size: 13px;
  }

  h1,h2,h3,h4,h5{
    font-size: 20px !important;
    margin-bottom: 10px;
  }

  p{
    font-size: 16px !important;
  }
  .prelative.container {
    // max-width: 320px;
    max-width: inherit;
    width: auto;
    margin: 0 10px;
  }

  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
    bottom: 300px !important;
  }
  section.home-sec-1 .right-contents{
    padding: 0 !important;
  }
  section.home-sec-3 .right-contents {
    padding: 0 !important;
  }
  section.footer .right-contents{
    position: relative;
    text-align: center;
    margin: 0 !important;
    margin-top: 20px !important;
  }

  section.footer{
    padding-top: 30px !important;
    padding-bottom: 50px !important;
  }

  section.home-sec-1{
    padding-top: 100px;
    padding-bottom: 80px;  
    min-height: 400px;
  }
  section.home-sec-2 .title{
    justify-content: left;
  }

  section.home-sec-2 .list-cust ul li img{
    width: 60px;
  }
  section.home-sec-2 .list-cust ul{
    padding-left: 20px !important;
    margin: 0 !important;
  }
  section.customer-sec .list-cust ul li img{
    width: 60px;
  }
  section.customer-sec .list-cust ul{
    padding-left: 20px !important;
    margin: 0 !important;
  }
  section.home-sec-3{
    padding: 100px 0; 
    min-height: 400px;
  }

  section.home-sec-4{
    padding: 100px 0; 
    min-height: 600px;
  }
  section.page-title-profile{
    background-position: center;
    min-height: 350px;
    padding: 8rem 0;
    h1{
      font-size: 30px !important;
    }
  }
  section.page-title-services{
    min-height: 350px;
    padding: 8rem 0;
    h1{
      font-size: 30px !important;
    }
  }
  section.page-title-facilities{
    min-height: 350px;
    padding: 8rem 0;
    h1{
      font-size: 30px !important;
    }
  }
  section.page-title-contact{
    min-height: 350px;
    padding: 8rem 0;
    h1{
      font-size: 30px !important;
    }
  }
  section.page-title-blog{
    min-height: 400px;
    h1{
      font-size: 30px !important;
float: left;    }
  }
  .none{
    padding: 1px !important;
  }
  .prelative.container.cont-full{
    margin-top: 30px !important;
  }
  section.about-sec-5{
    padding: 100px 0; 
    min-height: 800px;
background-position: center;
  }
  section.service-sec-1{
    min-height: 250px;
  }
  section.service-sec-2 .box-contents{
    margin-bottom: 30px !important;
    padding: 50px 10px !important;
  }
  section.service-sec-2 .margin-bawah{
    margin-top: 30px;
    // margin-bottom: 30px;
  }
  section.facilities-sec-2 .box-contents{
    min-height: 380px;
  }
  section.facilities-sec-2{
padding-bottom: 0px !important;
  }
  section.contact-sec-2{
    padding: 80px 0 !important;
  }

  section.footer .right-contents p{
    font-size: 12px !important;
  }
  section.blog-sec-1{
    padding: 80px 0;
  }
  section.blog-sec-1 h1{
    text-align: center;
  }
  section.blog-sec-1 .pagination {
  position: relative;
  text-align: center;
  float: left;
  }

  section.blogdetail-sec-1 h1{
    font-size: 30px !important;
  }
  section.blogdetail-sec-1{
    margin: 100px 0 !important;
  }
  section.blogdetail-sec-1 ol.breadcrumb li.breadcrumb-item a{
    font-size: 12px !important;
  }
  section.blogdetail-sec-1 .none{
    display : none;
  }
  section.blogdetail-sec-1 .desc-blog{
    margin-top: 0px !important;
    margin-bottom: 80px !important;
  }

  section.blogdetail-sec-1 .desc-blog img{
    margin: 20px 0 !important; 
  }
  section.blogdetail-sec-1 .desc-blog h1{
    font-size: 22px !important;
    margin: 20px 0 !important;
  }
  section.blogdetail-sec-1 h2{
    font-size: 22px !important;
  }
  section.blog-sec-1 .pagination{
    left: 25%;
    right: 25%;
    margin-bottom: 30px !important;
  }
  .margin{
    height: 20px !important;
  }
}

@media screen and (max-width: 767px) {

  section.home-sec-2 .list-cust{
    padding: 2.5rem 0;
  }
  section.home-sec-2 .list-cust ul li {
      display: inline-block;
      padding: 1rem 0.5rem;
  }
  .navbar-dark .navbar-toggler{
    border: 0;
    background-color: transparent !important;
  }
  .navbar-dark .navbar-toggler:hover,
  .navbar-dark .navbar-toggler:focus{
    background-color: transparent !important;
    outline: none;
    border: 0;
  }

  ul.navbar-nav{
    li.nav-item{
      a{
        font-size: 15px;
        color: #fff;
      }
      padding: 0.1rem 0;
    }
    padding: 0.5rem 0;
  }

  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs .content{
    margin-bottom: 0 !important;
  }

  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption {
      bottom: 100px !important;
  }

  section.facilities-sec-2 .box-contents ul li{
    font-size: 12px;
  }

  section.facilities-sec-2 .more p{
    font-size: 15px !important;
  }

}