@import url("https://fonts.googleapis.com/css?family=Encode+Sans:400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

@encodes: "Encode Sans", sans-serif;
@notosa: "Noto Sans", sans-serif;

html,
body {
  overflow-x: hidden;
  font-family: @encodes;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-family: @encodes;
  font-weight: 400;
}

.container.cont-fcs {
  max-width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: @encodes;
  margin-bottom: 0;
}

.container,
.prelative.container {
  max-width: 1125px;
  margin: 0 auto;
}

header.head .image:hover{
opacity: 0.5;
}

section.myAffix .lgo_web_headrs_wb:hover{
  opacity: 0.5;
}

.header-affixs.affix-top {
  top: -1000px;
  position: fixed;
  visibility: collapse;
}

.header-affixs.affix {
  top: 0px;
  left: 0px;
  position: fixed;
  visibility: initial;
  height: 80px;
}

.header-affixs {
  // background-color: rgba(0, 146, 223, 0.95); #f37021
  background-color: #0c1a22;
  width: 100%;
  z-index: 1000;
  height: 90px;
  border-bottom: 3px solid #d0e9f4;
  z-index: 100000;

  .lgo_web_headrs_wb {
    // padding-top: 0.5rem;
    padding-left: 15px;

    a {
      display: block;
      max-width: 217px;
      padding-top: 16px;
    }
  }
}

.menu-taffix {
  padding-top: 28px;
}

.menu-taffix ul {
  margin: 0;
  padding: 0px;
}

.menu-taffix ul {
  li{
  padding: 0px;
  padding: 0 5px;
    a {
      font-size: 15px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  li.active a,
  li a:hover {
    text-decoration: none;
    color: #ed1c24;
  }
  clear: both;
}


header.head .whatsapp a:hover p{
  color: #f5f5f5;
}



.generate-height(50);

.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }

  .margin-@{i} {
    margin: (1px * @i);
  }

  .margin-top-@{i} {
    margin-top: (1px * @i);
  }

  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }

  .margin-left-@{i} {
    margin-left: (1px * @i);
  }

  .margin-right-@{i} {
    margin-right: (1px * @i);
  }

  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }

  .padding-@{i} {
    padding: (1px * @i);
  }

  .padding-top-@{i} {
    padding-top: (1px * @i);
  }

  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }

  .padding-left-@{i} {
    padding-left: (1px * @i);
  }

  .padding-right-@{i} {
    padding-right: (1px * @i);
  }

  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }

  .generate-height(@n, (@i + 1));
}

.clear {
  clear: both;
}

.prelative.container.cont-header.mx-auto .row {
  // height: 110px;
}

header.head.stickys{
  position: fixed;
  background-color: rgba(0,23,58, 0.95);
}

header.head {
  width: 100%;
  height: 103px;
  padding-top: 25px;

  position: absolute; top: 0px; left: 0;
  width: 100%; z-index: 50;
  background-color: rgba(0,23,58, 0.9);

  .whatsapp {
    padding-top: 23px;
    padding-right: 5px;
    text-align: right;

    p {
      padding-right: 10px;
      display: inline-block;
      color: #ffffff;
      font-weight: 500;
      font-size: 17px;
    }
  }

  .lgo_web_headrs_wb{
    position: relative;
    margin-top: -25px;
  }
}

header.header-mobile{
display: none;
}

.fcs-wrapper.outers_fcs_wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  height: 100%;

  #myCarousel_home {
    height: 100%;
    .carousel-inner {
      overflow: inherit;
      .carousel-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;

        img.img_fcs{
          // width: 100%;
          // height: 100% !important;
          display: block;
        }
      }
      clear: both;
    }

    .carousel-caption {
        left: inherit;
        right: inherit;
        width: 100%;
        bottom: 0;
        padding: 0;
        z-index: 100;

        .bxsl_tx_fcs {
          text-align: left;
          background: none;
          background-color: transparent;
          .content {
            max-width: 680px;
            margin-bottom: 25% !important;
            h3 {
              font-size: 36px;
              // letter-spacing: 0.5px;
              font-weight: 700;
              display: block;
              line-height: 1.2;
              color: #fff;
              text-transform: uppercase;
              margin-bottom: 0.5rem;
              b,strong{
                color: #ed1c24;
              }
            }

          }

        }
      }

    ol.carousel-indicators {
      position: absolute;
      z-index: 130;
      width: 100%;
      bottom: 0px;
      margin: 0 auto;
      margin-bottom: 25px !important;

      li {
        margin: 10px 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
      }

      .active {
        background-color: transparent;
        margin: 10px 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }

    clear: both;
  }
}

section.homes_top_cont_1{
  min-height: 195px;
  height: auto;
  width: 100%;
  background-color: #919396;
  clear: both;
  position: relative;
  z-index: 20;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         5px 5px 15px 0px rgba(0, 0, 0, 0.2);

  .inners_block{
    .banners{
      position: absolute;
      bottom: -70px;
      left: 0;
      width: 100%;
      z-index: 35;
    }
    .rights_con{
      h5{
        font-size: 20px; font-weight: 700; color: #fff;
        margin-bottom: 0.2rem;
      }
      p{
       font-size: 17.5px; font-weight: 400; color: #fff; 
       margin-bottom: 0.2rem;
      }
      clear: both;
    }
    clear: both;
  }
}

a.btn.btns_submits_pin:hover,
a.btn.btns_submits_pin:focus,
a.btn.btns_submits_pin{
  width: 264px; height: 33px;
  background: url('../images/backs_btn_defaults.png') no-repeat;
  padding: 0;

  font-size: 12px;
  font-weight: 800;
  color: #fff; text-transform: uppercase;
  padding: 0;
  text-align: left;
  line-height: 33px;
  padding-left: 20px;
}
a.btn.btns_submits_pin:hover,
a.btn.btns_submits_pin:focus{
  opacity: 0.95;
}

section.home_sec_1 {
  min-height: 540px; height: auto; width: 100%;
  background-color: transparent;
  background: url('../images/section_block_hm1.jpg') repeat;
  padding-top: 120px;
  padding-bottom: 100px;

  .contents{
    h2, h3{
      font-size: 37px;
      font-weight: 700;
      color: #fff; text-transform: uppercase;
      b,strong{
        color: #ed1c24;
      }
      display: block;
      margin-bottom: 0.7em;
    }
    p{
      font-size: 21px;
      font-weight: 400;
      color: rgba(255,255,255, 0.6);
      line-height: 1.42;
    }
  }

  clear: both;
}

section.home_sec_2 {
  min-height: 835px; height: auto; width: 100%;
  background-color: transparent;
  
  background-image: url('../images/backs_hm_section2.jpg');
  
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 100px;

  .blocks_nav_left_fcs{
    ul{
      li.active{
        a{
          color: #741B1B;
        }
      }
    }
  }

  .blockns_slide_prd{
    ul{
      li{
        a{
          font-size: 31px;
          font-weight: 700; color: #1e1211;
          text-transform: uppercase;
        }
        padding: 0rem 0;
      }
      li.separate{
        // background: url('../images/backs_blue_line.jpg') no-repeat;
        background-color: #ed1c24;
        width: 123px; height: 8px;
        margin: 27px 0 28px;
        padding: 0;
        display: block;
      }

      margin: 0;
    }
    margin-top: 3rem;
    clear: both;
  }

  clear: both;
}

.blc_lines{
  height: 8px; width: 123px;
  display: block;
  // background: url('../images/backs_blue_line.jpg') no-repeat;
  background-color: #ed1c24;
}

section.home_sec_5,
section.home_sec_4,
section.home_sec_3 {
  min-height: 653px; height: auto; width: 100%;
  background-color: transparent;
  background: url('../images/backs_left_con2_02.jpg') center no-repeat;
  padding-top: 25px;
  padding-bottom: 100px;
  .contents{
    h5,
    h3,h4{
      font-size: 23px; font-weight: 700;
      color: #000; line-height: 1.2;
      display: block;
      margin-bottom: 0.4rem;
    }
    h5{
      font-weight: 400;
      color: #252525;
    }

    p{
      font-size: 18px; font-weight: 400; color: #292929;
      line-height: 1.4;
      margin-bottom: 1.3rem;
    }
    clear: both;
  }
  clear: both;
}

.back-white{
  background-color: #fff;
}

section.home_sec_4 {
  min-height: 410px; height: auto; width: 100%;
  background: none;
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 100px;
  .contents{
    p{
      line-height: 1.55;
    }
  }

  .lists_bloc_compsn{
    .row{
      .col-md-15{
        padding: 0 10px;
      }
      margin: 0 -10px;
    }
    .items{
      .pict{

      }
      .info{
        h6{
          font-size: 17px;
          font-weight: 700;
          color: #111111;
          text-transform: uppercase;
          line-height: 1.3;
        }
      }
      clear: both;
    }
    clear: both;
  }

  clear: both;
}

section.home_sec_5 {
  min-height: inherit;
  height: auto; width: 100%;
  background: url('../images/bottoms_banner_full.jpg') center no-repeat;
  background-color: #fff;

  padding-top: 17rem;
  padding-bottom: 17rem;
  .contents{
    h2{
      font-size: 36px;
      font-weight: 700;
      color: #fff; text-transform: uppercase;
      b,strong{
        color: #ed1c24;
      }
      display: block;
      margin-bottom: 0.4em;
    }
    h4{
      font-size: 24px;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      display: block; margin-bottom: 0;
    }

  }
  clear: both;
}

footer.foot{
  padding: 0 0 3rem;
  .tops_nfooter{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 1.4rem;
    margin-bottom: 1.4rem;
    .lgo-foot{}
    .wans-foot{
      a{
        i.fa{
          color: #33b8e9;
          font-size: 18px;
        }
        font-size: 18px;
        font-weight: 700;
        color: rgba(47,47,47, 0.7);
      }
    }
    .menus_foot{
      ul{
        text-align: right;
        margin: 0;
        li{
          a{
            font-size: 15px;
            font-weight: 700; color: #001a3e;
            text-transform: uppercase;
          }
        }
        .list-inline-item:not(:last-child) {
            margin-right: 0.7rem;
        }
      }
    }
    clear: both;
  }
  .bottoms_ftsn{
    p{
      font-size: 14px;
      font-weight: 400;
      color: #929292;
      font-family: @notosa;
      a{
        font-family: @notosa;
        font-size: 14px;
        font-weight: 400;
        color: #929292;
        text-decoration: none;
      }
    }
  }
  clear: both;
}

@import 'subpage.less';
@import 'median_sub.less';
