@encodes: "Encode Sans", sans-serif;
@notosa: "Noto Sans", sans-serif;

.back-white{
	background-color: #fff;
}
.out_table{
	.in_table{
		display: table-cell;
		vertical-align: middle;
		width: 100%; height: 100%;
	}
	display: table;
	vertical-align: middle;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	clear: both;
}

.outers_fold_cover_top{
	width: 100%; min-height: 755px; height: auto;
	background-size: cover;
	.blocks_text_mid{
		text-align: center;
		display: block;
		h1{
			font-size: 30px;
			font-weight: 700;
			color: #fff;
			line-height: 1; display: block;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	position: relative;
	clear: both;
}
.outers_fold_cover_top.pg_about{
	background: url('../images/cover-about.jpg');	
}
.outers_fold_cover_top.pg_contact{
	background: url('../images/cover-contact.jpg');	
}
.outers_fold_cover_top.pg_product{
	background: url('../images/cover-product.jpg');	
}

section.products_sec_1,
section.contact_sec_1,
section.about_sec_2,
section.about_sec_1 {
  min-height: 450px; height: auto; width: 100%;
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 100px;

  .contents{
    h2, h3{
      font-size: 29px;
      font-weight: 700;
      color: #fff; text-transform: uppercase;
      b,strong{
        color: #ed1c24;
      }
      display: block;
      margin-bottom: 0.7em;
    }
    p{
      font-size: 19px;
      font-weight: 400;
      color: #292929;
      line-height: 1.5;
      a{
      	color: #292929;
      	text-decoration: none;
      }
      a:focus,
      a:hover{
      	text-decoration: none;
      	color: #000;
      }
    }
  }

  clear: both;
}
section.about_sec_1{
	padding: 8rem 0 4rem;
	min-height: 250px;
}

section.contact_sec_1{
	.contents{
		h2, h3, h4{}
		p{
			margin-bottom: 1.75rem;
			font-size: 16px;
			line-height: 1.8;
		}

		.rights_info{
			p{
				font-size: 20px;
				line-height: 1.7;
			}
			.blocs_wa{
				a{
					i.fa{
						color: rgba(41,41,41, 0.7);
						font-size: 25px;
					}
					color: rgba(41,41,41, 0.7);
					font-size: 22px;
					font-weight: 700;
				}
			}
		}
	}
}

section.about_sec_2{
	min-height: 654px; height: auto; width: 100%;
	background-color: transparent;
	background: url('../images/backs_blockcon_about1_02.jpg') center no-repeat;
	background-size: contain;
	padding-top: 25px;
	padding-bottom: 100px;

	.contents{
		h2, h3{}
		p{
			font-size: 16px;
			font-weight: 400;
			color: #292929;
			margin-bottom: 1.7rem;

			line-height: 1.75;
		}
		clear: both;
	}
}
section.about_sec_3{
	min-height: 770px; height: auto; width: 100%;
	background-color: transparent;
	background: url('../images/backs_aboutcon_2.jpg') right no-repeat;
	background-size: contain;
	padding-top: 100px;
	padding-bottom: 100px;	
	.contents{
		h4, h5{
			display: block;
			color: #001939;
		}
		h5{
			font-size: 22px;
			font-weight: 700;
		}
		h4{
			font-size: 28px;
			font-weight: 800;
			color: #001939;
			b,strong{
				color: #ed1c24;
			}
		}
	}
	clear: both;
}

section.about_sec_4{
	height: auto; width: 100%;
	min-height: 100px; 
	background-color: transparent;
	background: url('../images/backs_aboutcon_3.jpg') center no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;	
	.contents{
		h4, h5{
			color: #fff;
		}
	}
	clear: both;
}

section.about_sec_5{
	height: auto; width: 100%;
	min-height: 100px; 
	background-color: #fff;

	padding-top: 100px;
	padding-bottom: 100px;	

	.contents{
		h3, h4{
			color: #000;
		}
		h5,p{
			color: #292929;
		}
		p{
			line-height: 1.7;
		}
	}
	clear: both;
}

span.bluesn{
	color: #001939;
}

form.boxsrn_searchs_sline{
	label{
		font-size: 15px;
		color: #001939;
	}
	select{
		border-radius: 0;
		font-size: 12px;
		font-weight: 400;
		color: #001939;
	}
	clear: both;
}

.outers_list_products_nmortar{
	.items{
		.picts{
			img{}
		}
		.infos{
			h4{
				display: block; margin: 0; padding: 0;
				font-size: 16px; font-weight: 400; color: #292929;
			}
			a.btns_vw_product{
				font-size: 12px;
				font-weight: 700;
				color: #ed1c24;
				padding: 0;
			}
		}
		clear: both;
	}
	clear: both;
}

.back-grey{
	background-color: #d4d4d4;
}


section.tops_product_pndetil{
	.contents{
		h6{
			font-size: 15px;
			font-weight: 700;
			color: #001939;
		}
		h3{
			font-size: 30px;
			font-weight: 700;
			color: #001939;
		}
		h2{
			font-size: 30px;
			font-weight: 700;
			color: #001939;
		}
	}
	background: url('../images/backs_tops_produc_det.jpg') center no-repeat;
	width: 100%; 
	min-height: 385px; height: auto;
	background-size: cover;
}

section.prddet_sec_1{
	.contents{
		h3{}
		p{
			font-size: 16px; font-weight: 400; color: #292929;
			margin-bottom: 1.5rem;
		}
	}
	.picts_banner_rgh{
		img{}
	}	
	padding: 5rem 0 3rem;
	min-height: auto;
	height: 590px;
	clear: both;
}

section.prddet_sec_2{
	.contents{
		.bloc_sub{
			h2, h3, h4{
				font-size: 22px;
				font-weight: 700;
				color: #001939; line-height: 1;
				display: block;
				margin-bottom: 1.3rem;
			}
			p{
				font-size: 16px;
				font-weight: 400;
				color: #292929;
				margin-bottom: 1.2rem;
			}
			ul{
				li{
					font-size: 16px;
					font-weight: 400;
					color: #292929;
				}
				display: block; margin: 0;padding: 0;
				list-style: disc;
				margin-left: 20px;
			}
			clear: both;
		}

		table{
			tr{
				td{
					font-size: 16px; font-weight: 400; color: #292929;
					padding: 0.38rem 0;
					border-top: 0;
					border-bottom: 1px solid rgba(88,88,88, 0.44);
				}
			}
		}

		.lists_down_pdf{
			p{
				b,strong{}
				span{}
				font-size: 16px; font-weight: 400; color: #292929;
				a{
					font-size: 14px;
					font-weight: 700;
					color: #292929; text-decoration: none;
				}
			}
			max-width: 375px;
		}
		clear: both;
	}
	clear: both;
}

.c_black{
	color: #999;
}